body {
    font-size: 1.2rem;
    padding: 0px;
    margin: 0px;
}

main {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.hero-container {
    width: 60vw;
    min-width: 300px;
    height: 100vh;
    background: url(./images/josefin-NeH6-YKTwUI-unsplash.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}

.img-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    width: 5rem;
    padding: 15px;
}

.img-container p {
    font-size: .75rem;
    position: absolute;
    bottom: 0px;
    right: 5px;
}

.filter-white {
    filter: invert(97%) sepia(0%) saturate(592%) hue-rotate(147deg) brightness(121%) contrast(100%)
}